
<!-- NAVBAR-->
<div class="header p-1 fixed-top transparent">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 text-sm-center">
                <!-- logo -->
                <div class="logo">
                    <a href="/">
                        <img src="{{'/assets/img/logo.png' | prepend: site.baseurl}}" alt="{{ site.title }}">
                    </a>
                </div>
            </div><!-- end logo -->

            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div id="navigation">
                    <!-- navigation start-->
                    <ul>
                        {% if site.data.nav.menu[0] %}
                            {% for item in site.data.nav.menu %}
                                <li class="{% if item.url == page.url %}active{% endif %}">
                                    <a href="{{ item.url | prepend: site.baseurl }}" class="animsition-link">
                                    {{ item.title }}</a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div><!-- end navigation start-->
            </div>
        </div>
    </div>
</div>
<!-- END NAVBAR-->
