---
layout: default
---
<meta charset="utf-8"/>
<div class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="wrapper-content bg-white pinside40">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">
                                    <article class="post-holder">
                                        <div class="post-block mb40">
                                            <div class="post-img mb30">
                                                <img src="{{ site.baseurl }}{{ page.image }}" alt="{{ page.title }}" class="img-fluid">
                                            </div>

                                            <div class="bg-white">
                                                <h1>{{ page.title }}</h1>

                                                <p class="meta">
                                                    <span class="meta-date">{{ page.date | date_to_string }}</span>

                                                    <span class="meta-date">
                                                        {% if page.categories.size >= 1 %}
                                                            {% for cat in page.categories  %}
                                                                {{ cat }}
                                                                {% unless forloop.last %}&amp;{% endunless %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    </span>

                                                    <span class="meta-date">
                                                        {% assign words = content | number_of_words %}
                                                        {% if words < 380 %}
                                                            1 min read.
                                                        {% else %}
                                                            {{ words | divided_by:180 }} mins read.
                                                        {% endif %}
                                                    </span>
                                                </p>
                                               
                                                <p>{{ content }}</p>
                                            </div>
                                        </div>
                                      
                                    </article>

                                  

                                </div>
                            </div>
                        </div>

                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
